---
import Scene from "./Scene.astro";
import { invitation } from "../../content/invitation";
import { invitationAssets } from "../../content/invitation-assets";
---

<Scene id="closing-message" image={invitationAssets.closing.couple} class="text-center">
  <div class="mx-auto max-w-4xl">
    <h2 class="text-sparkle font-script text-6xl leading-none sm:text-8xl">
      #TheBrightestMix<br />begins here,
    </h2>
    <p class="mt-6 font-serif text-2xl italic sm:text-3xl">{invitation.closing.message}</p>
  </div>
</Scene>
