---
import Scene from "./Scene.astro";
import { invitation } from "../../content/invitation";
import { invitationAssets } from "../../content/invitation-assets";
---

<Scene id="beginning" image={invitationAssets.story.couple} natural minHeight="min-h-[200svh]" align="start">
  <div class="mx-auto max-w-2xl p-1 text-center sm:p-2">
    <h2 class="text-sparkle font-script text-5xl leading-none sm:text-7xl">
      {invitation.story.title}
    </h2>
    <div class="mt-8 space-y-6 font-serif text-lg leading-relaxed italic sm:text-xl">
      {invitation.story.paragraphs.map((paragraph) => <p>{paragraph}</p>)}
    </div>
  </div>
</Scene>
